<html>
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112039180-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112039180-1');
  </script>

  <title>Philly Parking Violations</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/static/lib/leaflet/1.2.0/css/leaflet.css"/>
  <link rel="stylesheet" href="/static/lib/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/lib/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/static/lib/dc/2.1.9/dc.min.css"/>
  <link rel="stylesheet" href="/static/lib/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/static/css/leaflet.zoomhome.css"/>
  <link rel="stylesheet" href="/static/css/keen-dashboards.css">
  <link rel="stylesheet" href="/static/css/custom.css">

  <!-- JavaScript -->
  <script src="/static/lib/leaflet/1.2.0/js/leaflet.js"></script>
  <script src="/static/js/leaflet.zoomhome.min.js"></script>

  <!-- DC.js requires D3@3 and d3-hexbin needs D3@4 -->
  <script src="/static/lib/d3/js/d3.v3.min.js"></script>
  <script>
    d3version3 = d3
    window.d3 = null
  </script>
  <script src="/static/lib/d3/js/d3.v4.min.js"></script>
  <script>
    d3version4 = d3
  </script>

  <!-- leaflet and hexbins -->
  <script src="/static/lib/leaflet-pip/1.1.0/js/leaflet-pip.js"></script>
  <script src="/static/lib/d3/js/d3-scale-chromatic.v1.min.js"></script>
  <script src="/static/lib/d3/js/d3-hexbin.v0.2.min.js"></script>
  <script src="/static/js/leaflet-d3.min.js" charset="utf-8"></script>

  <!-- Load D3.js -->
  <script src="/static/lib/jquery/3.2.1/jquery.min.js"></script>
  <script src="/static/lib/crossfilter2/1.3.14/crossfilter.min.js"></script>
  <script src="/static/js/dc.min.js"></script>

  <!-- Bootstrap -->
  <script src="/static/lib/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/static/lib/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</head>

<body class="application">

  <!-- Navbar  -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          <i class="fa fa-car" aria-hidden="true"></i>
          &nbsp;&nbsp;Visualizing Philly Parking Violations
        </a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="https://nickhand.github.io">By Nick Hand</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <!-- Reset all filters -->
          <a href="javascript:dc.filterAll();dc.redrawAll();">[reset all filters]</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">

    <!-- Loading animation -->
    <div id="loading">
      <div id="loader-wrapper">
        <div id="loader"></div>
        <div id='loading-copy'>Loading data...</div>
      </div>
    </div>

    <!-- Error message -->
    <div id='error-wrapper' style='display: none;'>
      <div id="error-msg">
        <p>Oh no! Something went wrong!</p>
        <p>Please get in touch with the maintainer, <a href="mailto:nicholas.adam.hand@gmail.com">Nick Hand</a>.
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">

        <!-- Intro panel -->
        <div class='panel' style='padding: 5px'>
          <p style="font-size: 16px"><b>Welcome!</b></p>

          <p>Choose a month and year to explore
            parking violation trends across Philadelphia during that time.
            Data ranges from 2012 to 2016 and is presented on a monthly basis.
          </p>
          <p>
            <b>Applying filters:</b>
            The charts and map below are interactive, and the
            data can be filtered in several different ways.
            Available filters include: date range, hour and day of week,
            zip code, ticket issuing agency, and type of ticket.
          </p>
          <p>
            <b>Help:</b>
            See the help buttons for individual charts for further info.
          </p>
        </div>

        <div class="row">
          <div class="col-xs-6 col-md-6">

            <!-- Month/Year Form -->
            <div class="panel" style='padding: 5px; font-size: 16px'>
              <div class="form-group row" style='margin-bottom: 20px'>
                <div class='col-md-12'>

                  <label>Month</label>
                  <select class="selectpicker form-control" id='month'>
                    <option selected>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                  </select>

                </div>
              </div>
              <div class="form-group row">

                <div class='col-md-12'>
                  <label>Year</label>
                  <select class="selectpicker form-control" id='year'>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option selected>2016</option>
                  </select>
                </div>
              </div>

              <button id="getDataButton" class="btn btn-default load-data-btn" type="button"><b>Go!</b></button>
            </div>
          </div>

          <div class="col-xs-6 col-md-6">

            <!-- Number of tickets -->
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Tickets
              </div>
              <div class="chart-stage">
                <div id="number-records-nd"></div>
              </div>
            </div>

            <!-- Total Revenue -->
            <div class="chart-wrapper">
              <div class="chart-title">
                Total Revenue
              </div>
              <div class="chart-stage">
                <div id="number-revenue-nd"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">

        <!-- Most common tickets -->
        <div class="chart-wrapper">
          <div class="chart-title">
              Top 10 Most Common Tickets
              <a onclick="toggle(this, '#top-10-help')">[show help]</a>
          </div>
          <div class="chart-notes" id="top-10-help" style="display: none">
            This table gives the top 10 most common ticket locations for the
            currently selected data. The table is automatically
            updated as filters are applied to the charts below.
          </div>
          <table class="table table-responsive table-hover hot-spot-table">
          </table>
        </div>

        <script type="text/javascript">
          function toggle (t, id) {
            if (t.innerHTML == "[hide help]") {
              t.innerHTML = "[show help]";
              $(id).hide()
            } else {
              t.innerHTML = "[hide help]";
              $(id).show();
            }
          }
        </script>

      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <!-- Tickets Per Hour -->
        <div class="chart-wrapper">

          <div class="chart-title">
            Tickets Per Hour
            <a onclick="toggle(this, '#per-hour-help')">[show help]</a>
            <span id="time-chart-reset"
              data-reset-script="javascript:timeChart.filterAll();dc.redrawAll();">
            </span>
          </div>

          <div class="chart-notes" id="per-hour-help" style="display: none">
            This chart plots the number of tickets per hour as a function of
            the date. Individual date ranges can be selected via a sliding
            window — click on the chart and drag the filter over the desired
            date range.
          </div>

          <div class="chart-notes" id="time-chart-filter" style="display: none">
          </div>

          <div class="chart-stage">
            <div id="time-chart" style="width: 100%;"></div>
          </div>
        </div>

      </div>
    </div>

    <div class='row'>
      <div class="col-xs-6 col-md-3">

        <!-- Zip Codes -->
        <div class="chart-wrapper">
          <div class="chart-title">
            Tickets By Zip Code
            <a onclick="toggle(this, '#zipcode-help')">[show help]</a>

            <span id="zipcode-chart-reset"
              data-reset-script="javascript:zipcodeChart.filterAll();dc.redrawAll();">
            </span>
          </div>

          <div class="chart-notes" id="zipcode-help" style="display: none">
            This chart gives the number of tickets as a function of
            zip code. Individual zip codes can be selected by clicking on
            specific bars of the chart. When hovering over a bar, the
            corresponding zip code will be highlighted
            on the map.
          </div>

          <div class="chart-stage">
            <div id="zipcode-row-chart" style="width: 115%;"></div>
          </div>
        </div>

      </div>

      <div class="col-xs-6 col-md-3">

        <!-- Day-Hour Heat Map -->
        <div class="chart-wrapper">
          <div class="chart-title">
            Hourly Ticketing By Week Day
            <a onclick="toggle(this, '#heatmap-help')">[show help]</a>

            <span id="dayhour-chart-reset"
              data-reset-script="javascript:heatChart.filterAll();dc.redrawAll();">
            </span>
          </div>

          <div class="chart-notes" id="heatmap-help" style="display: none">
            This chart shows the number of tickets as a function of hour
            (y axis) and day of week (x axis). Filter by time and day of
            week by clicking on the desired square. Clicking on
            an axis label will select the entire row or column. Hover over
            a square to show the total number of tickets issued.
          </div>

          <div class="chart-stage">
            <div id="day-hour-chart" style="width: 115%;"></div>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-md-6">

        <!-- Map  -->
        <div class="chart-wrapper">
          <div class="chart-title">
            Density of Tickets across Philadelphia
            <a onclick="toggle(this, '#map-help')">[show help]</a>

            <span id="map-reset"
              data-reset-script="javascript:zipcodeChart.filterAll();dc.redrawAll();">
            </span>
          </div>

          <div class="chart-notes" id="map-help" style="display: none">
            A density map of tickets across Philadelphia. Individual
            zip codes can be selected by clicking on the highlighted area
            on the map. Hovering over density hexagons will show the total number
            of tickets in that density bin.
          </div>

          <script>
            $('#getDataButton').on('click', function (e) {
              var month = document.getElementById('month').value;
              var year = document.getElementById('year').value;
              month = new Date(Date.parse(month +" 1, 2018")).getMonth()+1;

              // show the loading page
              $('#loading').show();

              // clear map
              map.remove();
              hexLayer.data([]);

              // clear filters
              dc.filterAll();

              // get the new data
              getDataJSON(makeDashboard, month, year);
          })
          </script>

          <div class="chart-stage">
            <div id="map"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-md-6">

            <!-- Type of ticket -->
            <div class="chart-wrapper">
              <div class="chart-title">
                Types of Tickets
                <a onclick="toggle(this, '#type-help')">[show help]</a>

                <span id="desc-chart-reset"
                  data-reset-script="javascript:descChart.filterAll();dc.redrawAll();">
                </span>
              </div>

              <div class="chart-notes" id="type-help" style="display: none">
                This chart shows the number of tickets as a function of
                the violation type. Individual types can be selected by
                clicking on specific bars of the chart.
              </div>


              <div class="chart-stage">
                <div id="ticket-type-row-chart" style="width: 100%;"></div>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-6">

            <!-- Issuing agency -->
            <div class="panel chart-wrapper">
              <div class="chart-title">
                Issuing Agency
                <a onclick="toggle(this, '#agency-help')">[show help]</a>

                <span id="agency-chart-reset"
                  data-reset-script="javascript:agencyChart.filterAll();dc.redrawAll();">
                </span>
              </div>

              <div class="chart-notes" id="agency-help" style="display: none">
                This chart gives the number of tickets as a function of
                the issuing agency. Select a specific issuing agency by
                clicking on the desired bar of the chart. Note that
                the x axis is shown on a log scale.
              </div>

              <div class="chart-stage">
                <div id="agency-row-chart" style="width: 100%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
	<footer id="footer">

    <div class="social icons">
      <a href="https://github.com/nickhand" class="icon circle fa-github"><span class="label">Github</span></a>
      <a href="https://twitter.com/nicholashand" class="icon circle fa-twitter"><span class="label">Twitter</span></a>
      <a href="https://www.linkedin.com/in/nickhand1" class="icon circle fa-linkedin"><span class="label">Linkedin</span></a>
    </div>
 		<div class="copyright">
			<div class="menu">
				<p>&copy; Nick Hand 2018</p>
				<p>Data via <a href="https://www.opendataphilly.org/dataset/parking-violations" target="_blank">OpenDataPhilly;</a>
         Dashboard template via <a href="http://keen.github.io/dashboards/" target="_blank">keen.io</a>
        </p>
			</div>
    </div>
	</footer>
  </div>

  <!-- the zip code geojson data -->
  <script type="text/javascript" src="/static/js/zip-codes.js"></script>

  <!-- the main charting javascript -->
  <script type="text/javascript" src="/static/js/main.js"></script>

</body>
</html>
